.home-container {
  margin-top: 40vh;
}

.home-container {
  padding: 0px 20px;
  
  .home-title {
    margin-bottom: 5vh;
  }  
  .text-icon {
    height: 15px
  }
}

.reset-btn {
  margin-top: 10vh;
}

@media (min-width: 600px) {
  .home-container {
    width: 70%;
    justify-self: center;
    margin: 10px;
  }
}