 .achivmt-img  {
  background-size: cover;
  height: 60px;
  width: 60px;
  border: 3px solid #ffffff;
  border-radius: 150px;
  z-index: 1;
}

.achieve-container {
  .achivmt-name, .achivmts-display {
    margin: 10px
  }

  .achivmt-name {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .achivmt-icon {
    width: 12px;
    font-size: .9rem;
    margin-left: 5px;
  }
}


@media (min-width: 600px) {
  .achieve-container {
    width: 70%;
    justify-self: center;
    margin: 10px;
  }

  .achivmt-name {
    font-size: 2.2rem;
    margin-left: 5px;
  }

  .achivmt-img {
    width: 80px;
    height: 80px;
  }
}

