.App {
  text-align: center;
  touch-action: manipulation;
  
  ::selection {
    background: teal;
    color:white;
  }
}

.nav-txt {
  // font-family: sans-serif;
}

.home-container {
  padding: 0px 20px;
  
  .home-title {
    margin-bottom: 5vh;
  }  
  .text-icon {
    height: 15px
  }

  .home-helpers, .home-planters {
    display: block;
    justify-items: center;
  }
}

.clicker-box-wrapper {
  background-image: url("https://images.unsplash.com/photo-1526638862469-011f7a3d94b3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
  // background-image: url("https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1953&q=80");
  // background-image: url("https://images.unsplash.com/photo-1511207538754-e8555f2bc187?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1782&q=80");
  // background-image: url("https://images.unsplash.com/photo-1533119408463-b0f487583ff6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
  background-size: cover;
  width: 100%;
  height: 40vh;
  font-size: 0.8rem;
}

.clicker-box {
  width: 100%;
  background-image: linear-gradient(180deg, #002c11e3 0%, #002c1600 80%);
  font-size: 1.2rem;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline: none;

  // .counter-wrapper {
  // }
  
  .click-btn {
    width: calc(60px + 15vmin);
    height: calc(60px + 15vmin);
    font-size: 30px;
  }

  .trees-per-click {
    margin-top: -15px;
    font-size: 1.1rem
  }

  .stats p {
    margin: 10px 15px 5px 15px;
  }

  .clicker-img {
    width: calc(30px + 10vmin);
    }
}

.tree-icon {
width: 13px;
}

.nav-icon, .stats-icon {
  width: 20px;
  margin: 8px 10px 8px 10px;
}


.item-main, .achivmt-name {
  margin: 10px
}


.item-img, .achivmt-img  {
  background-size: cover;
  // height: 60px;
  // width: 60px;
  min-height: 60px;
  min-width: 60px;
  border: 4px solid #004D40;
  border: 3px solid #ffffff;
  border-radius: 150px;
  z-index: 1;
}

.achivmt-img  {
  height: 60px;
  width: 60px;
}



.shop-container {

  .shop-item {
    overflow: hidden;
    // margin-right: 10px; 

    .item-main {
      width: 100%;

      .item-name {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }

    .item-locked, .item-available, .item-owned {
      position: absolute;
      left: -75px;
      width: 150px;
      height: 150px;
      z-index: 2;

      i {
        margin-left: 95px;
      }

    }

    .item-available, .item-owned {
      z-index: 0;
    }
        .item-img {
          margin-left: -5px;
        //  left: -35px;
        //   width: 100px;
        //   height: 100px;
        //   background-size: cover;
        }
  }
}

.achieve-container {
    margin: 5px;

  .achivmt-name {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .achivmt-icon {
    width: 12px;
    font-size: .9rem;
  }

  .achivmt-icon {
    width: 12px;
    font-size: .9rem;
    // margin: 2px 2px 0px 2px; 
  }
}


@media (min-width: 600px) {
  .home-container, .shop-container, .achieve-container {
    width: 70%;
    justify-self: center;
  }

  .clicker-box-wrapper {
    position: fixed;
    width: 30%;
    min-height: 100vh; 
    
    .clicker-box {
      min-height: 100vh; 
    }
    
    .counter-wrapper {
      font-size: 1.4rem;
    }
  
  }

  .item-name, .achivmt-name {
    font-size: 2.2rem;
    margin-left: 5px;
  }

  .reset-btn {
    margin-top: 5vh;
  }

  .achivmt-img {
    // margin-left: 100px;
    width: 80px;
    height: 80px;
  }
}
